.uploadArea {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadArea form {
    width: 550px;
    margin-top: 35px;
}

.uploadButton {
    width: 550px;
    height: 200px;
    margin-top: 30px;
    background-color: white;
    color: rgb(88,86,214);
}

.uploadButton:hover {
    background-color: white;
    color: rgb(88,86,214);
}

.convertButton {
    background-color: rgb(88,86,214);
    margin: 30px;
}

.convertButton:hover {
    background-color: rgb(88,86,214);
}

.listContainer {
    overflow: auto;
}

.articleIcon {
    color: rgb(31,112,68);
}

.listItemText {
    padding: 0px 35px 0px 10px;
}

.deleteIcon {
    color: rgb(159, 6, 6);
}

.deleteIcon:hover {
    cursor: pointer;
}

.errorMessage {
    margin-left: 10px;
    color: rgb(159, 6, 6);
}

.fileCountTextContainer {
    background-color: rgb(88,86,214);
    text-align: center;
    color: white;
    border-radius: 5px;
    width: 500px;
    margin-top: 75px;
}

.downloadArea {
    height: 65vh;
    display: flex;
    flex-direction: column;
}

.fileCountTextContainer {
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadButton {
    margin-top: 100px;
    width: 250px;
    align-self: center;
    background-color: rgb(88,86,214);
}
.downloadButton:hover{
    background-color: rgb(88,86,214);
}




