.uploadArea {
    border: 1px solid black;
    width: 75%;
    margin: auto;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.uploadArea form {
    border: 1px solid red;
    height: 150px;
    text-align: center;
}

.Button {
    padding: 15px;
    margin: 30px;
}

.convertButton {
    margin: 30px;
}

.fileList {
    display: flex;
    justify-content: center;
}

.listItemText {
    padding: 5px;
}

.listItem {
    width: 30%;
    border: 1px solid green;
}




