.DownloadConfirmationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(88,86,214);
    color: white;
    border-radius: 5px;
    margin-top: 75px;
    width: 200px;
}

.downloadIcon {
    margin-top: 20px;
}